.table-wrapper {
  @apply flex flex-col overflow-hidden;
}

.table-subwrapper {
  @apply overflow-x-auto border border-black border-opacity-10;
}

.cell {
  @apply px-6 py-2.5 text-sm text-gray-500 whitespace-nowrap;
}

.cell_bold {
  @apply px-6 py-2.5 text-xs text-gray-700 font-medium whitespace-nowrap;
}

.cell_checkbox {
  @apply px-6 py-2.5;
}

.cell_body_checkbox {
  @apply pl-4;
}

.cell_header_checkbox {
  @apply pl-4;
}

.cell_header {
  @apply sticky top-0 z-10 text-xs font-medium tracking-wider text-left text-gray-600 uppercase border-b border-gray-300 select-none;
}

.grouped-row {
  @apply text-sm font-semibold text-gray-800 bg-gray-50;
}

.show-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.show-scrollbar::-webkit-scrollbar:vertical {
  width: 8px;
}

.show-scrollbar::-webkit-scrollbar:horizontal {
  height: 8px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgb(229, 231, 235);
}

.delete-button {
  @apply space-x-2 inline-flex items-center rounded border border-gray-300 bg-white px-2.5 py-1.5 text-xs font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-30;
}

.paginationWrapper {
  @apply px-4 py-2 text-gray-700 bg-white border-b border-black shadow border-x border-opacity-10;

  .paginationButton {
    @apply px-2 py-2 text-xs font-medium text-gray-500 bg-white border border-gray-300 sm:px-4 sm:py-1;
  }

  .perPageSelectControl {
    @apply min-h-0;
  }

  .perPageIndicatorsContainer {
    @apply py-0 px-[6px];
  }

  .perPageSelectDropdownIndicator {
    @apply py-0 pr-0 pl-[4px];
  }
}

/* TradeBook theme styles */
.tradeBook {
  .table-subwrapper {
    @apply font-mono bg-grey-800 rounded-t-md;
  }

  tr:nth-child(even) .cell {
    @apply bg-grey-700;
  }

  tr:nth-child(odd) .cell {
    @apply bg-grey-800;
  }

  .cell {
    @apply py-1 text-xs text-gray-50;
  }

  .cell_bold {
    @apply py-1 text-xs;
  }

  .cell_header {
    @apply py-2 text-xs text-gray-400 bg-grey-800;
  }

  .show-scrollbar::-webkit-scrollbar-thumb {
    @apply border-gray-800 bg-gray-50;
  }

  .paginationWrapper {
    @apply px-6 py-1 font-mono bg-grey-800 text-gray-50;

    .paginationButton {
      @apply h-6 text-xs font-medium text-gray-50 bg-grey-800;
    }

    .perPageSelectControl {
      @apply h-6 text-xs font-medium border border-gray-300 text-gray-50 bg-grey-800 min-h-6;
    }

    .perPageSelectValueContainer {
      @apply h-6 px-2 py-0;
    }

    .perPageIndicatorsContainer {
      @apply h-6 p-0;
    }

    .perPageSelectDropdownIndicator {
      @apply px-1 py-0;
    }

    .perPageSelectMenu {
      @apply text-xs bg-gray-800;
    }

    .perPageSelectSingleValue {
      @apply text-gray-50;
    }
  }
}
